.publicationBody{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    padding: 5px 30px 20px;
    text-align: center;
}

.publicationDiv{
    display: grid;
    gap: 20px;
    margin: 10px !important;
}

.publicationlogo{
    width: 90px;
    display: grid;
    justify-content: center;
}

.publicationBody p{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.publicationBody span{
    font-weight: 600;
}

.publicationBody a{
    border-bottom: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}


@media only screen and (max-width: 700px){
    .publicationBody{
        padding: 0px 10px;
    }
}