.footerBody {
    background-color: rgb(91, 91, 91);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top : 30px;
    width : 100%;
    /* position: absolute;
    bottom: -522px; */
}

.footerDiv{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.footerLogoLinks{
    display: grid;
    row-gap: 30px;
}


.footItem {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff !important;
}
.footItem1{
    display: grid;
    row-gap: 5px;
    /* padding-left: 10px; */
    text-align: center;
    margin: 0 auto;
    /* background-color: red; */
}

.footItem p{
    text-decoration: underline;
    font-weight: 600;
    padding-left: 10px;
}

.footItem1 p{
    text-decoration: underline;
    font-weight: 600;
}
.footItem1 label{
    font-size: 14px;
    line-height: 20px;
}
.footItem1 p{
    font-size: 16px;
    font-weight: 550;
}

.footerLink span:hover{
    border-bottom: 2px solid rgb(180, 3, 3);
    color: rgb(180, 3, 3);
    font-size: 14.5px;
    transition: all 20ms;
}

.footerLink{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.footerLink1 i:hover{
    border-bottom: 2px solid rgb(180, 3, 3);
    color: rgb(180, 3, 3);
    transition: all 20ms;
}

.footerLink1{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: -10px;
}
.footerLink1:hover{
    color: rgb(180, 3, 3)!important;
}


.footerLink:hover{
    color: rgb(180, 3, 3)!important;
}

.footItem a{
    font-size: 14px;
    color: #fff !important;
}
.footItem1 a{
    color: #fff !important;
    text-align: center;
    margin : 15px auto 0;
}

.footerDivider{
    border-top: 2px solid rgb(208, 201, 201);
    margin: 10px 20%;
}

.footerSMIDiv{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.footerSMIDiv p{
    font-size: 16px;
    font-weight: 600;
}

.footerIcons{
    display: flex;
    column-gap: 10px;
}

.footerSMI svg{
    color: rgb(255, 255, 255) !important;
}

.footermitsLogo{
    display: grid;
    place-content: center;
}
.footermitsLogo img{
    width: 100px;
    border-radius: 20px;
}


@media only screen and (max-width: 700px){
    .footItem1 {
        display: grid ;
        justify-content: center;
        align-items: center;
        color: #fff !important;
    }
    .footerDiv{
        justify-content: space-between;
    }

    .footerDivider {
        border-top: 2px solid rgb(208, 201, 201);
        margin: 10px;
    }
}
